<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To-Do lists</title>
    </head>
    <body>
        <h1>{% block header_text %}{% endblock %}</h1>
        <form method="POST" action="{% block form_action %}{% endblock %}">
        {% csrf_token %}
                <p style="text-align: center;">
                    <input id="id_new_item" type="text" name="item_text" placeholder="Enter a to-do item"/>
                </p>
        </form>
        {% block table %}
        {% endblock %}
    </body>
</html>