<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To-Do lists</title>
    </head>
    <body>
        <h1>"Your To-Do list"</h1>
        <form method="POST" action="/lists/new">
        {% csrf_token %}
            <input id="id_new_item" type="text" name="item_text" placeholder="Enter a to-do item"/>
        </form>
        <table id="id_list_table" summary="Table listing to-do items">
            {% for item in items_list %}
            <tr><td>{{forloop.counter}}: {{ item.text }}</td></tr>
            {% endfor %}
        </table>
    </body>
</html>